body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5% auto;
  background-color: #002244;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.get-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.display-info-container {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}
